/* styles.css */
  
  /* Styling for the section header */
  .grid_card_text {
    background-color: #4285F4;
      color: white;
    padding: 10px;
    font-weight: bold;
  }

/* Centered text alignment */
  .centered {
    text-align: center;


  }

/* Centered text alignment for unordered lists */
  ul {
    text-align: center;
    list-style-position: inside;
  }

/* Red asterisk for mandatory fields */
  .mandatory_star {
    color: red;
  }

/* Styling for modal content */
  .modal-content {
    text-align: center;
  }

/* Styling for modal body */
  .modal-body {
    color: blue;
  }
 .centered-content {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                      }
                      
  td {
  text-align: center;
}                    
 
 
 th{
     text-align: center;

 }
 
 #criteria {
    font-weight: bold;
    color: black;
    width: 750px;
  margin: 0 auto;
  text-align: left;
  line-height: 3; /* Adjust this value for the desired line spacing */
  
 }

